<a href="@Url.Action("AgregarIntegrante", "IdeasDeNegocio")" class="btn btn-primary">Agregar Integrante</a>
<h2></h2>
<a href="@Url.Action("EliminarIntegrante", "IdeasDeNegocio")" class="btn btn-primary">Eliminar Integrante</a>
<h2></h2>
<a href="@Url.Action("EditarInversionIngresos", "IdeasDeNegocio")" class="btn btn-primary">Editar Inversion Ingresos</a>
